 <p><%= post.text%><p>
    <h4> <%= if post.likescounter == nil
                "No Likes"
                else
                post.likescounter
              end %>
    </h4>
    <h4><%= if post.commentscounter == nil
                "No Comment"
                else
                post.commentscounter
              end %>
</h4>