 <div>
    <h4>Number of likes: 
     <%= if post.likescounter == nil
                "No Likes"
                else
                post.likescounter
              end %>
    </h4>
    <h4> Number of comments: 
    <%= if post.commentscounter == nil
                "No Comment"
                else
                post.commentscounter
              end %>
</h4>
</div>